body{
    min-height: 100vh;
    background-color: #1a1a1a !important;
}
.vr {
    color: #4f4f4f;
}

#script-output div p{
    margin: 0px !important;
    margin-bottom: 0px !important;
}

.container {
    background-color: #333333;
}

.container-black{
    background-color: #1a1a1a;
}

.accordion-collapse {
    border-left: 1px solid #4f4f4f !important;
    border-right: 1px solid #4f4f4f !important;
}

.accordion-button:not(.collapsed){
    color: black !important;
    background-color: #00bfff !important;
}

.popover-header{
    background: #2c2c2c;
    border: 1px solid #4f4f4f;
    color: #2c2c2c;
    transition: background-color 0.3s ease-in;
}
.popover-body{
    background: #2c2c2c;
    border: 1px solid #4f4f4f;
    color: white;
}

.popover-git-header {
    color: white !important;
    background: #673AB7 !important; /* Example custom style */
    transition: 0.3s;
}

.popover-apt-header {
    color: white !important;
    background: #FFA000 !important;
    transition: 0.3s;
}

.popover-pip3-header {
    color: white !important;
    background: #3CB371 !important;
    transition: 0.3s;
}

.popover-wget-header {
    color: white !important;
    background: #bdbd2c !important;
    transition: 0.3s;
}

.popover-gem-header {
    color: white !important;
    background: #bd2c7e !important;
    transition: 0.3s;
}

.popover-go-header {
    color: white !important;
    background: #2c8dbd !important;
    transition: 0.3s;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%, 100% { transform: rotate(0); }
    20%, 60% { transform: rotate(-25deg); }
    40%, 80% { transform: rotate(10deg); }
}
#script-output{
    display: block;
    background-color: #2c2c2c !important;
    padding: 5px;
    color:white;
    border: 1px solid #4f4f4f;
}

/* Hover and active states */
.btn-custom-light{
    color: black !important;
    background: #00bfff !important;
}

.btn-custom-dark[data-installation="git"] {
    color: white !important;
    background-color: #673AB7 !important; /* Deep Purple for Git */
}

.btn-custom-dark[data-installation="apt"] {
    color: white !important;
    background-color: #FFA000 !important; /* Dark Amber for APT */
}

.btn-custom-dark[data-installation="pip3"] {
    color: white !important;
    background-color: #3CB371 !important; /* Medium Sea Green for Pip3 */
}

.btn-custom-dark[data-installation="wget"] {
    color: white !important;
    background-color: #bdbd2c !important; /* Dark Lime for Wget */
}

.btn-custom-dark[data-installation="gem"] {
    color: white !important;
    background-color: #bd2c7e !important; /* Dark Lime for Wget */
}

.btn-custom-dark[data-installation="go"] {
    color: white !important;
    background-color: #2c8dbd !important; /* Dark Lime for Wget */
}

.badge {
    border: 1px solid white;
}

.badge:hover {
    border: 1px solid #2c2c2c;
}

.none-badge{
    background-color: #1a1a1a !important;
}

.git-badge{
    background-color: #673AB7 !important;
}

.apt-badge{
    background-color: #FFA000 !important;
}
.pip3-badge{
    background-color: #3CB371 !important;
}
.wget-badge{
    background-color: #bdbd2c !important;
}
.gem-badge{
    background-color: #bd2c7e !important;
}
.go-badge{
    background-color: #2c8dbd !important;
}

.git-badge-active{
    background-color: #00bfff !important;
    color: #673AB7 !important;
}

.apt-badge-active{
    background-color: #00bfff !important;
    color: #FFA000 !important;
}
.pip3-badge-active{
    background-color: #00bfff !important;
    color: #3CB371 !important;
}
.wget-badge-active{
    background-color: #00bfff !important;
    color: #bdbd2c !important;
}
.gem-badge-active{
    background-color: #00bfff !important;
    color: #bd2c7e !important;
}
.go-badge-active{
    background-color: #00bfff !important;
    color: #2c8dbd !important;
}