body{
    min-height: 100vh;
}
#script-output div p{
    margin: 0px !important;
    margin-bottom: 0px !important;
}

.popover-header{
    background: #212529;
    border: 1px solid white;
}
.popover-body{
    background: #212529;
    border: 1px solid white;
    color: white;
}