body{
    /* font-family: Arial, Helvetica, sans-serif !important; */
}
#script-output div p{
    margin: 0px !important;
    margin-bottom: 0px !important;
}

.popover-title{
    background: #ffff99;
}